body{
    background-color: #f5f5f5;
}

.card{
    width: 300px;
    height: 410px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    text-align: center;
    margin: 100px auto;
    box-shadow: 5px 5px 3px rgba(56, 56, 56, 0.4), -5px -5px 3px rgb(255, 255, 255);
    transition: .5s;
}
.head{
    border-bottom: 3px solid rgb(0, 0, 0);
    letter-spacing: 1px;
}
.text{
    text-align: justify;
    padding: 0 10px;
}

.card:hover{
    box-shadow: -5px -5px 3px rgba(56, 56, 56, 0.4), 5px 5px 3px rgb(255, 255, 255);
}
